// global stylings

:root {
	// colors
	--primary-color: #27374D;
	--secondary-color: #526D82;
	--tertiary-color: #9DB2BF;

	// background
	--gray-bg: #f8f7fa;

	--white: #ffffff;
	--gray: #f1f0f3;
	--black: #0f0f0f;

	// spacings
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;

	font-size: 1rem;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-kerning: none;


	.pointer {
		cursor: pointer;
	}
}