// global stylings

:root {
	// colors
	--primary-color: #27374D;
	--secondary-color: #526D82;
	--tertiary-color: #9DB2BF;


	// spacings
	
}

body {
	font-size: 1rem;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-kerning: none;
}