.btt-pill {
	cursor: pointer;
	color: #0f0f0f;
	padding: 8px 16px;
	border-radius: 6px;


	&:hover {
		background-color: var(--gray); // need to update this one as css props
	}

	&.active {
		background-color: var(--primary-color);
		color: var(--black);
		background-color: var(--white);
	}
}