.btt-navigation-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	border-radius: 8px;

	padding: 12px 24px; // to update spacing to css props

	box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; // to update color

	.left {
		// display: flex;
	}
}